<?xml version="1.0" encoding="UTF-8"?>
<Configuration status = "INFO">
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="[%p]%d{yyyy-MM-dd HH:mm:ss}\t%msg%n \t at %C{6}.%M{6}%n \t at %logger{36}%n%n"/>
        </Console>

        <File name="LogFile" fileName="logs/EmployeeManagement.log" append="true">
            <PatternLayout pattern="[%p]%d{yyyy-MM-dd HH:mm:ss}\t%msg%n \t at %C{6}.%M{6}%n \t at %logger{36}%n%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="ERROR">
            <AppenderRef ref="Console" />
            <AppenderRef ref = "LogFile"/>
        </Root>
    </Loggers>
</Configuration>
