@charset "UTF-8";
body{
    top: 100px;
	background-image:url("image3.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;

}
form{
 
	color:black;
}

a:link{
        text-decoration:none;
        font-weight:bold;
}

div{
        text-align: center;       
}

h3{
	text-align: center;
}